.main_carousel {
    width:70%;
       float:left;
}


#hottest {
    float: right;
    width:15%;
    height: 469px;
    width: 28%;
    margin-left: 5px;
background-color:#eee;

}

.descrip {
    margin-top:550px;	
 }

.text12 {
    margin-top:15%;
    margin-left:10px;
}



#adtext {
    color:black;
    margin-left: 35%;t
    margin-top:10%;
}


#aboutlink {
    margin-top:15px;
}


#adbox {
   margin-left:20%;
   margin-top:10%;
   height: 60%;
   width: 60%;
   background-color:#F8F8F8;
   outline: #000000 dashed;
}


.funbun {
   margin-top:47%

};
