{% extends "app/base.html" %}

{% block content %}

	<div id = "articles">
		<table id = "articles_table" style="width:1000px">
			<tr>
 			<td><img id="article1isra" src="{{ STATIC_URL }}/img/292028_345x230.jpg" width="200" height="200"></td>
  			<td><img id="article1pale" src="{{ STATIC_URL }}/img/140766563251130065a_b.jpg" width="200" height="200"></td>
 			<td><h1>Netanyahu's speech about the negotiations</h1>
			<p1>Hamas threatens to stop cease-fire talks unless Israeli negotiators return to Cairo. Netanyahu:Israel will not negotiate under fire...</p1></td>
			</tr>



		</table>

	</div>

{% endblock %}
