{% extends "app/base.html" %}
{% block attach %}
<link rel = "stylesheet" type = "text/css" href = 
{% endblock %}
{% block content %}

	<div id = "articles">
		<table id = "articles_table" style="width:1200px">
			<tr>
 			<td><img id="article1isra" src="{{ STATIC_URL }}/img/292028_345x230.jpg" width="250" height="200"></td>
 			<td><h1>Netanyahu: Israel 'will not negotiate under fire'</h1>
			<p1>Israel will not return to talks to end the conflict in Gaza while Palestinian militants continue cross-border rocket attacks, Prime Minister Benjamin Netanyahu said Sunday.
</p1></td>
<td><img id="article1pale" src="{{ STATIC_URL }}/img/140766563251130065a_b.jpg" width="250" height="200"></td>
<td><h2>Netanyahu: Gaza operation will take time and patience</h2>
			<p2>Hamas threatens to quit cease-fire talks unless Israeli negotiators, who left talks on Friday, return to Cairo • Prime Minister Benjamin Netanyahu reiterates: Israel will not negotiate under fire, operation will continue until quiet is restored.
</p2></td>
			</tr>



		</table>

	</div>

{% endblock %}
