{% extends "app/base.html" %}


{% block content %}

	<div id="content box">
<!--
		<div id = "log in">
		
		<h1>Log In</h1>
		
		<form>
		Username: <input type="text" name="username"><br><br>
		Password: <input type="password" name="pwd">
		</form>
		<br>
		<a href=forgotpassword.html>forgot your password?</a> 

		</div>
-->

<div>

    <div class="container login">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <a class="btn btn-lg btn-primary btn-block" href="home" type="submit">Sign in</a>
      </form>

    </div>
	</div> 
</div>

{% endblock %}
