
{% block content %}

<html>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="" alt="">
                <div class="caption">
                    <h4 class="text-center">Article 1</h4>
                    <p>
			ya.
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>        
         <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/600x270" alt="">
                <div class="caption">
                    <h4 class="text-center">Article 2</h4>
                    <p>
                    haytham is awesome too.
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>        
         <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/600x270" alt="">
                <div class="caption">
                    <h4 class="text-center">Article 3</h4>
                    <p>
                    have no fear, adam is here.
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>        
         <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/600x270" alt="">
                <div class="caption">
                    <h4 class="text-center">Article 4</h4>
                    <p>
                       adam is awesome.
                    </p>
                    <p class="text-center">
                        <i class="fa fa-thumbs-o-up votes"></i><i class="fa fa-thumbs-o-down votes"></i>
                    </p>
                </div>
            </div>
        </div>        
    </div>

   
</div>
<!-- End container -->
</html>
<style>   
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail:hover {
    background-color:#5CB85C;
}

.votes {
    font-size: 47px;    
    color:#197BB5;
    padding:10px;
}

.thumbnail img {
    width: 50%;
}
</style>



{% endblock %}
