
{% extends "app/base.html" %}


{% block content %}



<class="jumbotron hero-spacer">
	<h1>A Warm Welcome!</h1>
        <p id="p1">Dear user ,</p>
	<p id="p2">We are happy to inform you that your registration to our website is finished. Now you are can use our website to its full potential and features .</p>
	<p id ="p3"> Enjoy </p>  

            <p><a href = "articles" class="btn btn-primary btn-large">Call to action!</a>
            </p>
<style>
#p1{
font-size:150%;
}
#p2{
font-size:150%;
}
#p3{
font-size:150%;
}


{% endblock %}
